/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Global variables */
:root {
  --background: #20202b;
  --primary: #edad61;
  --text: #a3acbe;
  --cardBg: #292933;
  --border: #40404a;
}

/* Reset CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.App {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
